@mixin keypad-box($block-color) {
	@if #{$block-color} == 'blue' {
		color: $text-white;
		background-color: $theme-1-keys-blue-bg;
		box-shadow: $box-shadow $theme-1-keys-blue-shadow;
	} @else if #{$block-color} == 'red' {
		color: $text-white;
		background-color: $theme-1-keys-red-bg;
		box-shadow: $box-shadow $theme-1-keys-red-shadow;
	} @else {
		color: $theme-1-text;
		background-color: $theme-1-keys-grayish-bg;
		box-shadow: $box-shadow $theme-1-keys-grayish-shadow;
	}
}