// General
$border-radius-block: 10px;
$box-shadow: 0 3px 1px;

// Media Queries
$mobile: 376px;

// Theme 1
$theme-1-bg-main: hsl(222, 26%, 31%);
$theme-1-bg-keypad: hsl(223, 31%, 20%);
$theme-1-bg-screen: hsl(224, 36%, 15%);

$theme-1-keys-main-bg: hsl(30, 25%, 89%);
$theme-1-keys-main-shadow: hsl(28, 16%, 65%);
$theme-1-keys-second-bg:hsl(225, 21%, 49%);
$theme-1-keys-second-shadow: hsl(224, 28%, 35%);
$theme-1-keys-third-bg: hsl(6, 63%, 50%);
$theme-1-keys-third-shadow: hsl(6, 70%, 34%);

$theme-1-text-white: hsl(0, 0%, 100%);
$theme-1-text-grayish: hsl(221, 14%, 31%);
$theme-1-text-attribution: hsl(227, 43%, 68%);

// Theme 2
$theme-2-bg-main: hsl(0, 0%, 90%);
$theme-2-bg-keypad: hsl(0, 5%, 81%);
$theme-2-bg-screen: hsl(0, 0%, 93%);

$theme-2-keys-main-bg: hsl(45, 7%, 89%);
$theme-2-keys-main-shadow: hsl(35, 11%, 61%);
$theme-2-keys-second-bg: hsl(185, 42%, 37%);
$theme-2-keys-second-shadow: hsl(185, 58%, 25%);
$theme-2-keys-third-bg: hsl(25, 98%, 40%);
$theme-2-keys-third-shadow: hsl(25, 99%, 27%);

$theme-2-text-grayish:hsl(60, 10%, 19%);
$theme-2-text-attribution: hsl(0, 0%, 50%);

// Theme 3
$theme-3-bg-main: hsl(268, 75%, 9%);
$theme-3-bg-keypad: hsl(268, 71%, 12%);
$theme-3-bg-screen: hsl(268, 71%, 12%);

$theme-3-keys-main-bg: hsl(268, 47%, 21%);
$theme-3-keys-main-shadow: hsl(290, 70%, 36%);
$theme-3-keys-second-bg: hsl(281, 89%, 26%);
$theme-3-keys-second-shadow: hsl(285, 91%, 52%);
$theme-3-keys-third-bg: hsl(176, 100%, 44%);
$theme-3-keys-third-shadow: hsl(176, 100%, 44%);

$theme-3-text-yellow:hsl(52, 100%, 62%);
$theme-3-text-grayish:hsl(198, 20%, 13%);
$theme-3-text-attribution: hsl(267, 20%, 55%);