@import "_mixin.scss";
@import "_variable.scss";

body {
	font-weight: 700;
	font-family: "League Spartan", sans-serif;

	& p {
		margin: 0;
	}

	& .container {
		height: auto;
		max-height: 800px;
		width: 400px;
		margin: 50px auto;

		@media screen and (max-width: $mobile) {
			width: auto;
			max-width: 350px;
			margin: 20px auto;
		}
		& .top-bar {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			height: auto;

			& .title {
				font-size: 24px;
			}

			& .theme {
				display: flex;
				justify-content: space-between;
				gap: 20px;

				&-title {
					font-size: 12px;
					align-self: flex-end;
					padding-bottom: 5px;
				}
				&-switch {
					position: relative;
					width: 55px;

					&:before {
						content: "  ";
						position: absolute;
						top: 20px;
						left: 0;
						z-index: -1;
						width: 100%;
						height: 20px;
						border-radius: 30px;
					}
					&__label {
						display: inline-block;
						font-size: 12px;
						width: 15px;
						height: 40px;
						margin-top: -20px;
						text-align: center;
						cursor: pointer;
						transition: color 200ms ease-out;
					}
					&__indicator {
						width: 13px;
						height: 13px;
						position: absolute;
						top: 22px;
						left: 0;
						border-radius: 50%;
						transition:
							transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97),
							background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
						transform: translate3d(1rem, 0, 0);
					}

					input#one:checked ~ .theme-switch__indicator {
						transform: translate3d(3px, 0, 0);
					}
					input#two:checked ~ .theme-switch__indicator {
						transform: translate3d(25px, 0, 0);
					}
					input#three:checked ~ .theme-switch__indicator {
						transform: translate3d(40px, 0, 0);
					}
					input[type="radio"] {
						&:not(:checked),
						&:checked {
							display: none;
						}
					}
				}
			}
		}

		& .screen {
			border-radius: $border-radius-block;
			padding: 30px;
			margin: 20px 0;

			& p {
				font-size: 32px;
				text-align: right;
			}
		}

		& .keypad {
			height: auto;
			padding: 20px;
			border-radius: $border-radius-block;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(5, 1fr);
			gap: 20px 20px;

			&-block {
				font-size: 32px;
				font-weight: 700;
				font-family: "League Spartan", sans-serif;
				border: 0;
				padding: 10px;
				text-align: center;
				border-radius: $border-radius-block;
				place-self: center;
				justify-self: stretch;
				cursor: pointer;

				&-reset {
					grid-area: 5/1/6/3;
				}
				&-equal {
					grid-area: 5/3/6/5;
				}
			}
		}


	}
	&.theme1 {
		background-color: $theme-1-bg-main;
		color: $theme-1-text-white;

		& .container {
			& .top-bar {
				& .theme {
					&-switch {
						&:before {
							background: $theme-1-bg-keypad;
						}
						&__indicator {
							background: $theme-1-keys-third-bg;
						}
						input:checked ~ .theme-switch__indicator {
							background: $theme-1-keys-third-bg;
						}
					}
				}
			}
			& .screen {
				background-color: $theme-1-bg-screen;
			}
			& .keypad {
				background-color: $theme-1-bg-keypad;

				&-block {
					@include keypad-box('one');
				}
			}
		}
	}

	&.theme2 {
		background-color: $theme-2-bg-main;
		color: $theme-2-text-grayish;
		
		& .container {
			& .top-bar {
				& .theme {
					&-switch {
						&:before {
							background: $theme-2-bg-keypad;
						}
						&__indicator {
							background: $theme-2-keys-third-bg;
						}
						input:checked ~ .theme-switch__indicator {
							background: $theme-2-keys-third-bg;
						}
					}
				}
			}
			& .screen {
				background-color: $theme-2-bg-screen;
			}
			& .keypad {
				background-color: $theme-2-bg-keypad;

				&-block {
					@include keypad-box('two');
				}
			}
		}
	}

	&.theme3 {
		background-color: $theme-3-bg-main;
		color: $theme-3-text-yellow;
		
		& .container {
			& .top-bar {
				& .theme {
					&-switch {
						&:before {
							background: $theme-3-bg-keypad;
						}
						&__indicator {
							background: $theme-3-keys-third-bg;
						}
						input:checked ~ .theme-switch__indicator {
							background: $theme-3-keys-third-bg;
						}
					}
				}
			}
			& .screen {
				background-color: $theme-3-bg-screen;
			}
			& .keypad {
				background-color: $theme-3-bg-keypad;

				&-block {
					@include keypad-box('three');
				}
			}
		}
	}
}
