body {
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
}
body p {
  margin: 0;
}
body .container {
  height: auto;
  max-height: 800px;
  width: 400px;
  margin: 50px auto;
}
@media screen and (max-width: 376px) {
  body .container {
    width: auto;
    max-width: 350px;
    margin: 20px auto;
  }
}
body .container .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
}
body .container .top-bar .title {
  font-size: 24px;
}
body .container .top-bar .theme {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
body .container .top-bar .theme-title {
  font-size: 12px;
  align-self: flex-end;
  padding-bottom: 5px;
}
body .container .top-bar .theme-switch {
  position: relative;
  width: 55px;
}
body .container .top-bar .theme-switch:before {
  content: "  ";
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20px;
  border-radius: 30px;
}
body .container .top-bar .theme-switch__label {
  display: inline-block;
  font-size: 12px;
  width: 15px;
  height: 40px;
  margin-top: -20px;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}
body .container .top-bar .theme-switch__indicator {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 22px;
  left: 0;
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
  transform: translate3d(1rem, 0, 0);
}
body .container .top-bar .theme-switch input#one:checked ~ .theme-switch__indicator {
  transform: translate3d(3px, 0, 0);
}
body .container .top-bar .theme-switch input#two:checked ~ .theme-switch__indicator {
  transform: translate3d(25px, 0, 0);
}
body .container .top-bar .theme-switch input#three:checked ~ .theme-switch__indicator {
  transform: translate3d(40px, 0, 0);
}
body .container .top-bar .theme-switch input[type=radio]:not(:checked), body .container .top-bar .theme-switch input[type=radio]:checked {
  display: none;
}
body .container .screen {
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
}
body .container .screen p {
  font-size: 32px;
  text-align: right;
}
body .container .keypad {
  height: auto;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px 20px;
}
body .container .keypad-block {
  font-size: 32px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  border: 0;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  place-self: center;
  justify-self: stretch;
  cursor: pointer;
}
body .container .keypad-block-reset {
  grid-area: 5/1/6/3;
}
body .container .keypad-block-equal {
  grid-area: 5/3/6/5;
}
body.theme1 {
  background-color: hsl(222, 26%, 31%);
  color: hsl(0, 0%, 100%);
}
body.theme1 .container .top-bar .theme-switch:before {
  background: hsl(223, 31%, 20%);
}
body.theme1 .container .top-bar .theme-switch__indicator {
  background: hsl(6, 63%, 50%);
}
body.theme1 .container .top-bar .theme-switch input:checked ~ .theme-switch__indicator {
  background: hsl(6, 63%, 50%);
}
body.theme1 .container .screen {
  background-color: hsl(224, 36%, 15%);
}
body.theme1 .container .keypad {
  background-color: hsl(223, 31%, 20%);
}
body.theme1 .container .keypad-block {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 3px 1px hsl(28, 16%, 65%);
}
body.theme1 .container .keypad-block:hover {
  background-color: hsl(28, 16%, 65%);
}
body.theme1 .container .keypad-block:active {
  background-color: hsl(28, 16%, 65%);
  transform: translateY(4px);
}
body.theme1 .container .keypad-block-delete, body.theme1 .container .keypad-block-reset {
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 3px 1px hsl(224, 28%, 35%);
}
body.theme1 .container .keypad-block-delete:hover, body.theme1 .container .keypad-block-reset:hover {
  background-color: hsl(224, 28%, 35%);
}
body.theme1 .container .keypad-block-delete:active, body.theme1 .container .keypad-block-reset:active {
  background-color: hsl(224, 28%, 35%);
  transform: translateY(4px);
}
body.theme1 .container .keypad-block-equal {
  color: hsl(0, 0%, 100%);
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 3px 1px hsl(6, 70%, 34%);
}
body.theme1 .container .keypad-block-equal:hover {
  background-color: hsl(6, 70%, 34%);
}
body.theme1 .container .keypad-block-equal:active {
  background-color: hsl(6, 70%, 34%);
  transform: translateY(4px);
}
body.theme2 {
  background-color: hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%);
}
body.theme2 .container .top-bar .theme-switch:before {
  background: hsl(0, 5%, 81%);
}
body.theme2 .container .top-bar .theme-switch__indicator {
  background: hsl(25, 98%, 40%);
}
body.theme2 .container .top-bar .theme-switch input:checked ~ .theme-switch__indicator {
  background: hsl(25, 98%, 40%);
}
body.theme2 .container .screen {
  background-color: hsl(0, 0%, 93%);
}
body.theme2 .container .keypad {
  background-color: hsl(0, 5%, 81%);
}
body.theme2 .container .keypad-block {
  color: hsl(60, 10%, 19%);
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0 3px 1px hsl(35, 11%, 61%);
}
body.theme2 .container .keypad-block:hover {
  background-color: hsl(35, 11%, 61%);
}
body.theme2 .container .keypad-block:active {
  background-color: hsl(35, 11%, 61%);
  transform: translateY(4px);
}
body.theme2 .container .keypad-block-delete, body.theme2 .container .keypad-block-reset {
  color: hsl(0, 0%, 100%);
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0 3px 1px hsl(185, 58%, 25%);
}
body.theme2 .container .keypad-block-delete:hover, body.theme2 .container .keypad-block-reset:hover {
  background-color: hsl(185, 58%, 25%);
}
body.theme2 .container .keypad-block-delete:active, body.theme2 .container .keypad-block-reset:active {
  background-color: hsl(185, 58%, 25%);
  transform: translateY(4px);
}
body.theme2 .container .keypad-block-equal {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0 3px 1px hsl(25, 99%, 27%);
}
body.theme2 .container .keypad-block-equal:hover {
  background-color: hsl(25, 99%, 27%);
}
body.theme2 .container .keypad-block-equal:active {
  background-color: hsl(25, 99%, 27%);
  transform: translateY(4px);
}
body.theme3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}
body.theme3 .container .top-bar .theme-switch:before {
  background: hsl(268, 71%, 12%);
}
body.theme3 .container .top-bar .theme-switch__indicator {
  background: hsl(176, 100%, 44%);
}
body.theme3 .container .top-bar .theme-switch input:checked ~ .theme-switch__indicator {
  background: hsl(176, 100%, 44%);
}
body.theme3 .container .screen {
  background-color: hsl(268, 71%, 12%);
}
body.theme3 .container .keypad {
  background-color: hsl(268, 71%, 12%);
}
body.theme3 .container .keypad-block {
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 3px 1px hsl(290, 70%, 36%);
}
body.theme3 .container .keypad-block:hover {
  background-color: hsl(290, 70%, 36%);
}
body.theme3 .container .keypad-block:active {
  background-color: hsl(290, 70%, 36%);
  transform: translateY(4px);
}
body.theme3 .container .keypad-block-delete, body.theme3 .container .keypad-block-reset {
  color: hsl(0, 0%, 100%);
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 3px 1px hsl(285, 91%, 52%);
}
body.theme3 .container .keypad-block-delete:hover, body.theme3 .container .keypad-block-reset:hover {
  background-color: hsl(285, 91%, 52%);
}
body.theme3 .container .keypad-block-delete:active, body.theme3 .container .keypad-block-reset:active {
  background-color: hsl(285, 91%, 52%);
  transform: translateY(4px);
}
body.theme3 .container .keypad-block-equal {
  color: hsl(198, 20%, 13%);
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0 3px 1px hsl(176, 100%, 44%);
}
body.theme3 .container .keypad-block-equal:hover {
  background-color: hsl(176, 100%, 44%);
}
body.theme3 .container .keypad-block-equal:active {
  background-color: hsl(176, 100%, 44%);
  transform: translateY(4px);
}/*# sourceMappingURL=style.css.map */